/* VARIABLES */
:root{
    --header-height: 3.5rem;
    /* COLORS */
    --first-clr: #B99F81;
    --black-clr: #0C0C0C;
    --white-clr: #F7F7F7;
    --grey-clr: hsl(0, 0%, 70%);
    --grey-clr-alt: #222;
    --blue-clr: #0d0dbd;
    /* FONT & TYPOGRAPHY */
    --body-font: 'Poppins', sans-serif;
    --biggest-fs: 2.25rem;
    --h1-fs: 1.5rem;
    --h2-fs: 1.25rem;
    --h3-fs: 1rem;
    --normal-fs: .938rem;
    --small-fs: .813rem;
    --smaller-fs: .75rem;
    /* FONT WEIGHT */
    --regular-fw: 300;
    --medium-fw: 500;
    --bold-fw: 600;
    /* Z-INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* LARGE SCREEN FONT */
@media screen and (min-width: 968px) {
    :root{
        --biggest-fs: 4rem;
        --h1-fs: 2.25rem;
        --h2-fs: 1.5rem;
        --h3-fs: 1.25rem;
        --normal-fs: 1rem;
        --small-fs: .875rem;
        --smaller-fs: .813rem;
    }
}

/* BASE */
/* Box sizing rules */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-fs);
    background-color: var(--black-clr);
    color: var(--white-clr);
}

h1, h2, h3{
    font-weight: var(--bold-fw);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

b{
    color: var(--white-clr);
}

span{
    font-weight: var(--bold-fw);
}

img{
    max-width: 100%;
    height: auto;
}

.ab{
    width: 100%;
}

button,
input{
    font-family: var(--body-font);
    outline: none;
    border: none;
}

/* RESUABLE CSS */
.container{
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.section{
    padding: 4.5rem 0 2rem;
}

.section-title{
    text-align: center;
    font-size: var(--h2-fs);
    margin-bottom: 1rem;
}

.section-subtitle{
    display: block;
    text-align: center;
    font-size: var(--normal-fs);
    font-weight: var(--medium-fw);
    color: var(--grey-clr); 
}

.main{
    overflow: hidden;
}

.grid{
    display: grid;
}

.blog-section{
    margin: 1rem 0;
}

.blogging-container{
    color: var(--grey-clr);
}

.white{
    color: var(--white-clr);
}

.copyright{
    color: var(--first-clr);
}

/* CUSTOM SROLL BAR */

/* SCROLL UP */

/* BUTTON */
.button{
    display: inline-block;
    background-color:var(--first-clr);
    color: var(--black-clr);
    padding: .75rem 1.5rem;
    font-weight: var(--medium-fw);
    border-radius: 4px;
    transition: .3s;
}

.button:hover{
    background-color: var(--white-clr);
}

/* HEADER */

/* Change background header */

/* Active link */

/* HOME SECTION */

/* DETAIL SECTION */

/* ABOUT SECTION */

/* EXPLORE SECTION */

/* PLANET */

/* SWIPER */

/* INDIVIDUAL PLANET */

/*=============== BLOG ===============*/

/*=============== FOOTER ===============*/

/* MEDIA QUERIES */
/* SMALLER DEVICES */
@media screen  and (max-width: 320px) {
    
}

/* MEDIUM DEVICES */
@media screen  and (min-width: 568px) {
    
}

/* LARGE DEVICES */
@media screen  and (min-width: 768px) {
    
}

@media screen  and (min-width: 968px) {
    
}

/* LARGER DEVICES */
@media screen  and (min-width: 1024px) {
    
}

@media screen  and (min-width: 1200px) {
    
}